.contacts
  a.contact(href="tel:+3806499999")
    i.fa.fa-mobile-alt.contact__icon(aria-hidden="true")
    span.contact__text 6337 3128

  a.contact(href="mailto:info@business.co")
    i.fas.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
    span.contact__text info@business.co

  a.facebook-icon(href="facebook.com")
    i.fab.fa-facebook-f(aria-hidden="true")