nav.nav
  ul.nav__list
    - var items = ['Home', 'About us', 'Our Approch', 'Our Work']
      each item in items
        if item === 'Home'
          li.nav__item
            a.nav__link.nav__link--active(href="#")= item
        else
          li.nav__item
            a.nav__link(href="#")= item