.hero
  min-height: 59px
  padding: 174px 0
  text-align: center
  color: #fff
  background: #ccc url('../img/hero-bg.jpg') center/cover no-repeat

  &__about
    font-weight: bold
    font-size: 3.42rem
    line-height: 1

  &__title
    margin-top: 0px
    margin-bottom: 32px
    font-size: 2.14rem
    font-weight: 300

